.btn {
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
  background-color: #405cf5;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: x-large;
}
.btn:hover {
  padding: 10px;
  font-size: small;
}
