th,
td {
  border: 1.5px solid black;
  border-collapse: collapse;
}

table {
  border-collapse: collapse;
  padding: 30px;
  border-radius: 12px;
}

.header {
  /* background: lightpink;
  color: #6158c0; */
  cursor: not-allowed;
  /* font-family: "Courier New", monospace; */
}
